@model eTeatar.Web.ViewModels.Termini.CheckoutAjaxVM;

@{
    Layout = "";
}
<div>
    <div id="ContentTerminCheckoutCijenaLeft">Preostalo karata: </div>
    <div id="ContentTerminCheckoutCijenaRight">@Model.PreostaloKarata</div>
</div>
<div>
    <div id="ContentTerminCheckoutCijenaLeft">Ukupna cijena: </div>
    <div id="ContentTerminCheckoutCijenaRight">@Model.UkupnaCijena KM</div>
</div>